<DOCTYPE html>
    <head>
        <title>Projects</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
        <script src="../js/nav.js"></script>
    </head>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Home</a>
            <a href="/info">Information</a>
            <a href="/project">Projects</a>
            <a href="/contact">Contact Me</a>
            <a href="/portal">Portal</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>
    <body>
        <h1>Project</h1>

       
    </body>
</DOCTYPE>