h1{
    color: green;
    text-align: center;
    text-decoration: underline;
}

body{
    background-color:lightgray;
}

#wrapper{
    width: 1000px;
    margin: auto;
    border-radius: 5px;
    border-color: black;
    background-color: #222;

}
#container{
    width: 66%;
    height:auto; 
    background-color:#222;
    padding:10px;
    float: left;
}

#chatbox{
    width:100%;
    height:auto; 
    color:#FFF; 
    font-style: sans-serif;
    font-size: 20px;
    height: 500px;
    overflow: auto;
}
#online{
    margin-left: 66%;
    height: 540px;
    background-color: rgb(49, 46, 46);
}
h2{
    text-align: center;
    padding-top: 10px;
    color: #FFF;
    text-decoration: underline;

}

textarea{
    width:100%; 
    background-color:#444; 
    color:#FFF;
}

footer{
    position: absolute;
    bottom: 0;
}