.mySlides{
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 770px) {
    .mySlides{
        height: 350px;
    }
  }
@media screen and (max-width: 430px) {
    .mySlides{
        height: 200px;
    }
  }