#loginportal{
    display: block;
    margin: 0;
}
@media screen and (max-width: 999px) {
    #input[id=user], select{
        width: 10%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
}
#contain{
    font-family: "Times New Roman", Times, serif;
    background-color: skyblue;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 50px;
}
input[id=user], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[id=pass], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 40%;
    background-color: rgb(62, 101, 209);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button]{
    width: 40%;
    background-color: rgb(62, 101, 209);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=button]:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
input[type=submit]:hover{
    background-color: rgb(0,0,0);
    color: white;
}
h1{
    font-family: 'Courier New', Courier, monospace, serif;
    font-weight: bold;
    text-decoration: underline;
}